.sidebar{
  width: 72px;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
}
.sidebar-link {
  height: 76px;
}
.sidebar-link:hover {
  background-color: rgb(233, 231, 231);
} 