p {
  font-family: Roboto, Arial;

}

body {
  padding-top: 80px;
  padding-left: 70px;
  height: 2000px;
}


.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 13px;
}

.video-preview {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  width: 100%;
}
.thumbnail-box {
  margin-bottom: 18px;
  position: relative;
}
.thumbnail {
  width: 100%;
  object-fit: contain;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 9px;
  font-family: Roboto, Arial;
  font-weight: 600;
  font-size: 12px;
  padding: 4px;
  border-radius: 5px;
}

.channel-avt{
  display: inline-block;
  width: 50px;
  vertical-align: top;
  
}
.avatar {
  width: 80%; 
  /* fit 100% size of container */
  border-radius: 50%;
}
.video-info {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-title {
  margin-top: 0;
  font-weight: 680;
  line-height: 22px;
  font-size: 15px;
  margin-bottom: 8px;
}
.author {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 15px;
  color: gray;

}
.view-time {
  margin-top: 0; 
  font-size: 15px;
  color: gray;
}

/* For screens 600px or smaller (mobile): */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    grid-template-columns: repeat(1, 2fr, 1fr);
  }
}

